<div class="alert alert-warning"></i><strong>CFT Data Science With R Tutorials</strong><br>By: Seiya David 
 </div>

 <div class="alert alert-success"></i><strong>1.0 What is R</strong>
 </div>
R is a language for statistical computing and graphics as well as an environment within which statistical techniques are implemented.R is equiped with wide verity of advance statistical, Mathematical and graphical techniques and is the number choice for research in statistical methodology and it's an Open Source application (i.e free to download).
R compiles and runs on a wide variety of Operating Systems such as Linux, Windows and MacOS.

 <div class="alert alert-success"></i><strong>1.1 Installation of R</strong>
 </div>
To get R installed on your machine click on the appropirate link below and follow the instructions
* [For Windows Computer](https://cran.r-project.org/bin/windows/base/)
* [For Mac OS X Computer](https://cran.r-project.org/bin/macosx/)

When the Base R installation is complete, click on the following link below to install RStudio<br>
* [Download RStudio](https://www.rstudio.com/products/rstudio/download/)
*Note: RStudio is an IDE(Integrated Development Enviroment) that ehances programming in Rwith rich intellicence and more*

<div class="alert alert-success"></i><strong>1.2 Getting started with packages</strong>
 </div>
An R package is a collection of functions(code), data, and documentations. Packages can be downloaded from a 
repository called CRAN Comprehensive R Archive Network
* Note: *One's computer need to be connnected to the internet to download R packages*

<div class="alert alert-success"></i><strong>1.3 Installing a package or packages</strong>
 </div>
For this demonstration, we will install a packages called ggplot2 (required for ploting static charts). Don't worry if you don't know what this package does at the moment, we will explore more of this package and more as we make progress. To install a package,
Open your RStudio IDE and type the below code on the console, hit the Enter button/key and wait for the package to install:<br>
* install.packages("ggplot2", dependencies = TRUE)

if you which to install multiple R packages at once, type the syntax into the console and hit the Enter key<br>
* install.packages(c("ggplot2","dplr"))

<div class="alert alert-success"></i><strong>1.4 Loading a package</strong>
 </div>
To load an R package, use any of the three syntaxes below. For this demonstration, I will load ggplot2 package<br>
* library(ggplot2) <br>
* library("ggplot2") <br>
* require(ggplot2) <br>
* Click the checkbox next to the package on the file pane

<div class="alert alert-success"></i><strong>1.5 Getting help for a package or function</strong>
 </div>
If you are a bit confused or need clarity on a package, use any of the following syntaxes<br>
* help(ggplot2) <br>
* ?ggplot2 <br>
* or simply highlight the function or package and press the F1 key

In [ ]:
# Run the code just below to see a list of installed packages
library()

In [ ]:
# Run the code just below to see a list of packages that 
# are currently loaded
search()

**Note:** *By default when R or RStudio is opened, some packages get loaded behind the scene*

<div class="alert alert-success"></i><strong>1.6 Assignment Operator</strong><br>The <- symbol is called the assignment operator and used to assign elements to an object

 </div>

<div class="alert alert-success"></i><strong>1.7 Comments</strong><br>
The hash-tag or pound symbol/character (#) indicates a start of a comment. Anything to the right of the # (including the # itself) is not run.
This is the only comment character in R. Unlike some other languages, R does not support multi-line comments or comment blocks.That is to say every line of comments must start with the # symbol.
 </div>

In [ ]:
<div class="alert alert-success"></i><strong>1.5 Getting help for a package or function</strong>
 </div>

<div class="alert alert-success"></i><strong>2.1 Basic Arithmetic Operation</strong>
 </div>

In [ ]:
# On your Console type the following
# Note: Any text after the HASH-TAG (#) is a comment in R and 
# will not be executed.

# This is a basic addition problem
2 + 2

In [ ]:
# Divison
9/3

In [ ]:
# %% notation is called modelus operator. The output would be the 
# remainder when two divides nine
9 %% 2

In [ ]:
# ^ is the exponent operator, the expression is read 
# 10 raised to power 3 or 10 X 10 X 10 = 1000
10^3

In [ ]:
# Multiplication
3*3

<div class="alert alert-danger"></i></i><strong>Try it out</strong><br>What will the result be for the expression below?<br>3 + 4 * 5 + 4<br>
</div>

In [ ]:
# log of 10
log(10)

In [ ]:
# To round up the output above to 4 decimal places, 
# we used the function 'round' with an extra augument
# for the decimal place

# The 4 signifies the number of decimal places I want, 
# experiment with different number
round(log(10),3)

In [ ]:
# log base 2 of 70
round(log2(70),3)

<div class="alert alert-success"></i><strong>3.0 R Objects/Data Structures</strong><br>
R has five core classes of objects:<br>
<ul>
<li>Vector</li>
<li>Matrix</li>
<li>Data Frame</li>
<li>list</li>
</div>

<div class="alert alert-success"></i><strong>3.1 Vectors:</strong>
A vector is an ordered one dimensional array which could hold character, logical, integer **OR** numeric data, this implies that a vector can only contain objects of the same class.However, there is an there is an exception, which is a list

I will now show what each of the vector types look like
</div>

In [ ]:
# Character Vector
# When building a vector manually,the c() function 
# (which stands for COMBINE) is used when there are more 
# than one elements.

# The 'charVec' word is called an Object and would be a container to 
# store the combined data.
# The '<-' is called an assignment operator, though the equal sign 
# could be used but it's considered a bad coding practice in R.
charVec<- c("Mon","Tue","Wed","Thr","Fri","Sat","Sun")
print(charVec)

# Print the class type
print(class(charVec))

# To get the length of a vector use the length() function
print(length(charVec))

In [ ]:
# Logical Vector
num <- 10 > 30 # This syntax can be read as IS 10 GREATER THAN 30
print(num)

# Print the class type
print(class(num))

In [ ]:
# Logical Vector
# This syntax can be read as IS Monday equivalent to/same as Monday
"Monday" == "Monday"

<div class="alert alert-danger"></i></i><strong>Try it out</strong><br>What would this code return ?<br>"Monday" == "monday"<br>
What does this tell you about R
</div>

<div class="alert alert-info"><i class="icon-lightbulb"></i>**Discussion** <br>What is/are the difference(s) between the an Interger vector and a Character vector?
 </div>

In [ ]:
# Integer or Numeric Vector
# Interger/Numeric vector elements are not defined within quotation marks
intergerVec <- c(2,3,4,5,6,9)
print(intergerVec)

# Returns the number of elements in the object intergerVec
print(length(intergerVec))

<div class="alert alert-success"></i><strong>3.2 Matrices</strong><br>
 A Matrix is a two dimensional array were each element has the same type of data entries, it is also considered a vector with integer attributes
 </div>

In [ ]:
number_range <- c(1:9)
print(number_range)

In [ ]:
# The matrix key word is a function that will hold 9 elements starting 
# from 1.
# The  nrow = 3, implies that the 9 elements be placed in 3 rows
# While the byrow =T, implies the data be filled rows wise
# What would the matrix look like if byrow=F, Try this.
first_matrix <- matrix(c(2,4,5,6), nrow=2, byrow=F)
print(first_matrix)

In [ ]:
matrixData <- matrix(c(1:9), nrow=3, byrow=T)
print(matrixData)

In [ ]:
# Matrix multiplication
print(matrixData %*% matrixData2)

<div class="alert alert-success"></i><strong>3.3 Giving our matrix column and row names</strong>
 </div>

In [ ]:
# To assign column names to the created matrix above, the 
# 'colnames' function is used.

# This code imples that the first column be names Mon, 
# second be named Tue, etc.
colnames(matrixData)<- c("Mon","Tue","Wed")

# Display the contents of the object
print(matrixData)

In [ ]:
# If we wish to assign names to the rows, use the rownames function 
# and pass in appropirate names. Ensure that the number
# of names matches the number of rows.

rownames(matrixData)<-c("day2","day3","day5")

# Display the contents of the object
print(matrixData)

<div class="alert alert-success"></i><strong>3.4 List</strong><br>
 Lists are a special type of vector that can holds elements of different classes. To create a list explicitly, use the list() function which take several arguments.
 </div>

In [ ]:
# To create a list use the key word list()
listx <- list(c('CFT', 'Data', 'Science'), FALSE, TRUE, FALSE, c(2,8,5))

# Display the list
print(listx)

In [ ]:
# To extract the first element of the list, use the code
print(listx[1])

<div class="alert alert-danger"></i></i><strong>Try it out</strong><br>Extract the 5 in the list created above.
</div>

<div class="alert alert-success"></i><strong>3.5 Data Frame</strong><br>
 A Data Frame is more general than a matrix in that the fields/columns can hold different types of data entries. Look at a Data Frame as a Microsoft Excel and would be mostly used in R.
 </div>

In [ ]:
# Creating a dataframe
datafr <- data.frame(Country = c("UK","FRANCE","US","NIGERIA"),
                         GDP = c(560,409,706,360),
                         pop = c(20,40,200,190))
print(datafr)

<div class="alert alert-success"></i><strong>4.0 Importing external data</strong><br>
The R application is very robost when it comes to accessing and working with data in several file formats.
In the sections that follow, we will demonstrate how to get data from documents in the following formats:
<ul>
<li>Text file (.txt)</li>
<li>Excel file (.csv)</li>
<li>Excel file (.xlsx or xls)</li>
<li>SAS file(.sas7bdat)</li><br>

Let's now go into practicality
 </div>

<div class="alert alert-success"></i><strong>4.1 Text file(.txt)</strong>
 </div>

In [ ]:
# To read in data from a .txt file format, use the 'read.table' 
# function then pass the file-path to the text file

txtData<- read.table("D:/CFT DataScienceHub/makeOver50K.txt",sep = ",", 
                     header = FALSE)
head(txtData)

# The argument sep="," tells R that each data element in a row in the 
# text file is separated by a comma. Other common
# data formats have values separated by tabs and pipes ("|") and 
# tabs ("\t") respectively.

# The argument header=FALSE tells R that the first row of the file 
# should NOT be interpreted as the names of the columns.

In [ ]:
# Now that the data has been imported and assigned to the 'txtData' 
# object.
# To view all of the data, we would simpley call and run the object, 
# in this case 'txtData'.

# To view few rows of the data, use the 'head()' function and pass 
# the data object, this will by default show the first six rows.
head(txtData, 10)

In [ ]:
# If you wish to see a defined number of rows other than six, use the syntax.
head(txtData, 10)
# As can be seen on this instance,we have 10 rows displayed

In [ ]:
# As can been from the output above, the table does not have any 
# table header or column names.

# For this example, i know all the header names. 
# To insert these names use the code below
colnames(txtData) <- c("Age","workclass","fnlwgt","education",
                       "education-num","marital-status",
                       "occupation","relationship",
                       "race","sex","capital-gain",
                       "capital-loss","hours-per-week",
                       "native-country","eaning")

In [ ]:
# Now let use view the first 6 rows to see if the colunmn names were applied
head(txtData)

In [ ]:
# There might be times when we might not want to define the path to our 
# files explicitly
# we use the code below which gives one the option to choose the 
# required for import
txtData<- read.table(file.choose(),sep = ",", header = TRUE)
head(txtData)

<div class="alert alert-success"></i><strong> 4.2 Excel file(.csv)</strong>
 </div>

In [ ]:
# To read in data from a .txt file format, use the 'read.csv' 
# function then pass the file-path to the text file
# On this instance, we set header = TRUE as the data file does 
# have defined column titles
excelCSVData<- read.csv("D:/CFT DataScienceHub/whatIsTrending.csv",
                        sep = ",", header = TRUE)

# To view the first six records, run the code below
head(excelCSVData)

In [ ]:
# Again, there might be times when we might not want to define the 
# path to our files explicitly,we use the code below which gives 
# one the option to choose the required for import
excelCSVData<- read.csv(file.choose(),sep = ",", header = TRUE)

<div class="alert alert-success"></i><strong>4.3 Excel file(.xlsx and .xls)</strong>
 </div>

In [ ]:
# To get .xlsx or xls file format into R, we need to load a package 
# called 'xlsx'
# But wait a sec, how come we never loaded packages when we 
# imported .csv and .txt files
# when R or Rstudio is loaded for use, it by default loads packages 
# for importing .csv and txt file format by default
# At this point, am very sure you dont have this package installed. 
# So let's try intallation of packages again
install.packages("xlsx")

In [1]:
# Load the package into R by calling the library() function and pass the package as argument
library(xlsx)

Warning message:
"package 'xlsx' was built under R version 3.4.4"

In [ ]:
# To find out more about the package run the code below
help(xlsx)

In [2]:
# Import the .xlsx file
excelData<- read.xlsx("D:/CFT DataScienceHub/sasData.xlsx",sheetIndex=1)
# I guess by now you are familiar with how import works generally, 
# one thing to point out here is the 'sheeIndex=1'argument.
# This is saying in the imported .xlsx file return the data in sheet1

In [3]:
# Again, there might be times when we might not want to define 
# the path to our files explicitly
# we use the code below which gives one the option to choose the 
# required for import
excelData<- read.xlsx(file.choose(),sheetIndex=1)

ERROR: Error in file.choose(): file choice cancelled

<div class="alert alert-success"></i><strong>4.4 SAS file(.sas7bdat)</strong>
 </div>

In [ ]:
# The importation of .sas7bdat formatted file is similar to 
# importation of .xlsx file format in the sence that the 'sas7bdat
# package must be installed (if not installed already) and 
# loaded into R by using the library function.
# let us get familiar with installing a package again
install.packages("sas7bdat)

In [ ]:
# Now load the package with the function library as follows and 
# import the file 
library(sas7bdat)
sasData <- read.sas7bdat("D:/CFT DataScienceHub/airline.sas7bdat")

# to have a sneak peek, run the code below. This will show the 
# first six rows. To see all records, run just the object name.
head(sasData)

<div class="alert alert-success"></i><strong>5.0 Exporting Data (or writing data to file)</strong>
 </div>

<div class="alert alert-success"></i><strong>5.1 Excel file(.csv)</strong>
 </div>

In [ ]:
# To write data from R to Microsoft Excel .csv file format, 
# use the syntax below.
# The 'write.csv()' takes two arguments, the data to write AND the 
# file path to the where the file will be saved
# For this instance, the data we aim to write to file is 'sasData' 
# and save it in a location 'D:/CFT DataScienceHub/' 
# AND i want the file to be called 'airlineData.csv'
# You could at this point try different names as you would prefer. 
write.csv(sasData, file="D:/CFT DataScienceHub/airlineData.csv")

# Check the file path to see if the file was written

<div class="alert alert-success"></i><strong>5.2 Excel file(.xlsx and .xls)</strong>
 </div>

In [ ]:
# Apply the same principles for writing .xlsx and xls file formats, 
# except that we use the 'write.xlsx()' function
write.xlsx(sasData, file="D:/CFT DataScienceHub/airlineData.xlsx")

<div class="alert alert-warning"><strong>Next class</strong><br>We will look at how to filter datasets and writing functions
 </div>

### 6.0 Filter Data

In [ ]:
# To demonstrate filtering data, we would need to import a whatIsTrending.csv file provided with this tutorial
# run the code below.
excelCSVData <- read.csv("D:/CFT DataScienceHub/whatIsTrending.csv",sep = ",", header = TRUE)

In [ ]:
# Lets us view the last seven records in the file using the 'head()' function
tail(excelCSVData,100)

In [ ]:
# What just happened! up until now, we have been using just the head() function to view the first few rows of records, well
# there exist a 'tail()' function too. The tail function displays by default the last six records of a dataset

In [ ]:
# From the data contained in the 'excelCSVData' let us ectract information on Canada ONLY
# To achieve this run the code below.But let me explain what the code means
# The excelCSVData$country =="Canada" implies that look in the 'excelCSVData' object UNDER ($) the 'country' column and 
# return records with 'Canada' ONLY.
# The comma after the preceding code tells R to return all columns
# Why don't you have a go by replacing Canada with say 'United States'
excelCSVData[(excelCSVData$City =="Bristol"),]

In [ ]:
# Code below means as follows:
# excelCSVData$Country =="United Kingdom" look in the Country column in the excelCSVData and return records of 'United Kingdom'
# & and
# excelCSVData$City =="Birmingham" look in the City column in the excelCSVData and return records of 'Birmingham'
#, return all columns
# A bit confusing? let me know please
excelCSVData[(excelCSVData$Country =="United Kingdom")&(excelCSVData$City =="Birmingham"),]

In [ ]:
# Does the output look familier?
# Can you Decipher what the function does?
# I will leave that as a challenge
subset(excelCSVData, subset = Country=="Canada")

In [ ]:
# Does this output look familier?
# Can you Decipher what the function does?
# I will leave that as a challenge
# The bottom line is there are several ways to get things done in R
subset(excelCSVData, subset = (Country=="United Kingdom" & City=="Birmingham"))

In [ ]:
# There might be times when one might want to see records that starts with a particular letter/letters
# In this case, let's assume we want to know all countries whose names starts with 'C'
# We use what is called the 'grep()' function
# grep means General Regular Expression and returns "index"
# Ok! another buzz word, Index. In the R index simply mean a position of an object or elements.
# Lets say I have the following A, B, C.
# The position of the letter A is in index 1
# the position of letter B is in index 2
# I guess by now you must have figured out index for letter C, well that is in index 3

# grep("^C", this part of the code says find me a pattern of word that starts with 'C'
# excelCSVData$Country, In the Country column of the excelCSVData dataset object 
# ignore.case=T) ignore case sensitive
# the , implies return all columns

In [ ]:
# What did you observe when you run this code
excelCSVData[grep("^NI", excelCSVData$Country, ignore.case=T),]

In [ ]:
# Can you spot what has change when you run this code?
excelCSVData[grep("^NI", excelCSVData$Country, ignore.case=F),]

In [ ]:
# Can you spot again what has change when you run this code?
excelCSVData[grep("^Ni", excelCSVData$Country, ignore.case=F),]

### 7.0 Sorting Data

In [ ]:
# The goal of this session is to create a data frame. But to do that I will create FOUR vectors first
week_Day <- c("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")
Temperature <- c(2,3,5,1,4,0,7)
Snowed <- c(TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE)
Location <- c("Woolwich","Barking","Hammersmith","Islington","Lewisham","Newham","Merton")

# I join the respective vectors to form a data frame as follows 
weather_data <- data.frame(Location,Snowed,Temperature,week_Day)

# To view all the data/table run the object
weather_data

In [ ]:
# Lets us sort our data by the Temperature

In [ ]:
# We use the order() function achieve the task of sorting in R
sort_weather_data<- order(weather_data['Temperature'])

# Initally, the output seems like the sorted Temperature values but it's not
# It's rather the index of the numbers returned by their respective sizes
sort_weather_data

In [ ]:
# If you observe the 'weather_data' table
# The least Temperature is at Newham with 0 on a Saturday
# Counting down wards, 0 is on index 6
# followed by the next smallest Temperature at Islington with 1 on a Thursday
# Counting down again falls on the 4th row hence index 4

# Did you get the logic now?

In [ ]:
# To obtain the actual sorted table,
# run the code below
# What the code below does is passing the sorted index to the weather_data object and returing all the columns
weather_data[sort_weather_data,]

In [ ]:
# Lets do one more but htis time we aim to to sort the Locations
# now observe carfully the changes here
sort_weather_data<- order(weather_data['Location'])

In [ ]:
# Lets view the location Index
# what can you make from the index?
sort_weather_data

In [ ]:
# What does the sorted data by Location looks like? 
# Do you agree with the output?
weather_data[sort_weather_data,]

In [ ]:
# By now you must be asking 'what if I want my sorted data the other way round', like largest number to smallest or Z to A rather 
# than the current way we have it.
# That is super easy, all you need to include is 'decreasing = TRUE' as an argument

#Let me show you how by sorting our temperature again but this time we want the largets numbers on top
sort_weather_data<- order(weather_data['Temperature'],decreasing = TRUE)
weather_data[sort_weather_data,]

In [ ]:
# Lets give the sorting of the Location field/column a go
# What is the take away here?
sort_weather_data<- order(weather_data['Location'],decreasing = TRUE)
weather_data[sort_weather_data,]

### 8.0 Stack Data

In [ ]:
# To statck data sets together, we MUST ensure that both datasets/ files contain MATCHING headers in MATCHING POSITIONS

import_Canada_data<- read.csv("D:/CFT DataScienceHub/Canada.csv",sep = ",", header = TRUE) # Import canada data
import_UK_data<- read.csv("D:/CFT DataScienceHub/uk.csv",sep = ",", header = TRUE) # Import uk data

In [ ]:
# Use the 'cbind()' function to stack the datasets
stacked_uk_canada_data<- rbind(import_Canada_data,import_UK_data)
head(stacked_uk_canada_data,15)

### 9.0 Merge Data

In [ ]:
# In this demonstration, let us assume that we have two files with student information and we would like to merge the students
# information based on UNIQUE id
# Firstly, let's import the two data files
student_names<- read.table("D:/CFT DataScienceHub/names.txt",sep = "\t", header = TRUE)
student_origin<- read.table("D:/CFT DataScienceHub/student.txt",sep = "\t", header = TRUE)

In [ ]:
# Let's view the student_names object/data frame contents
student_names

In [ ]:
# Let's view the student_origin object/data frame contents
student_origin

In [ ]:
# Haven seen the contents of the tables, let us merge these tables based on the 'Student_id' field
# to achieve this, we use the 'merge()' in the code below
merge(student_names, student_origin, by="Student_id")

### 10. Slice and Dice Data

In [ ]:
# Following on from the last section.
# Lets say we want all the element on rows 5, column 3. This should be 40
# The way to go about it ia as follows
slice_data <- merge(student_names, student_origin, by="Student_id")
slice_data[5,3]

In [ ]:
# To exclude the first column from the table
# use the code
slice_data[,-1]
# The above simply say, return all the records except column 1
# Why don't you give it a try by replacing -1 with -5

In [ ]:
# Let say I want a table with ONLY the 'Age' and the 'Level' fields
# the way to go about this is as follows
slice_data[,c(3,6)]

In [ ]:
# Alternatively, use the code below
slice_data[,c("Age","Level")]

<div class="alert alert-warning"></i><strong>CFT Data Science With R Tutorials</strong><br>By: Seiya David 
 </div>

 <div class="alert alert-success"></i><strong>1.0 R dplyr package</strong>
 </div>
 Now that we have seen how to slice datasets using base R, we would now look at a very nice package called dplyr.<br>
dplyr is a package that can help query data sets much faster to derive insight. It has five data manipulation functions (also known as dplyr grammar of data manipulation). These are:
<ul>
<li>select()     - extracts columns from a dataset</li>
<li>mutate()     - builds new columns in the dataset</li>
<li> filter()    - extracts rows from a dataset</li>
<li> arrange()    - re-orders rows in a dataset</li>
<li>summarize()  - calculates summary statistics</li>

<li> %>%: the “pipe” operator is used to connect multiple verb actions together into a pipeline</li>

<li> group_by : for grouping summaries</li>
</ul>

 <div class="alert alert-success"></i><strong>1.1 logical operators</strong>
 </div>
 <ul>
<li>x < y, TRUE if x is less than y</li>
<li>x <= y, TRUE if x is less than or equal to y</li>
<li>x == y, TRUE if x equals y</li>
<li>x != y, TRUE if x does not equal y</li>
<li>x >= y, TRUE if x is greater than or equal to y</li>
<li>x > y, TRUE if x is greater than y</li>
<li>x %in% c(a, b, c), TRUE if x is in the vector c(a, b, c)</li>
<li> x %in% c(a, b, c), TRUE if x is in the vector c(a, b, c)</li>
 </ul>

<div class="alert alert-success"></i><strong>1.1 logical operators</strong>
 </div>
 <ul> 
<strong>boolean operators</strong>
<li> & (and), | (or), and ! (not)</li>
 </ul>

 <div class="alert alert-success"></i><strong>1.2 select()</strong>
 </div>
The select() function can be used to select fields/columns of a data frame.

<strong>dplyr</strong> also comes with a set of helper functions that can assist in selecting groups of variables inside the select() function.
<ul>
<li>starts_with("X"): every name that starts with "X"</li>
<li>ends_with("X"): every name that ends with "X"</li>
<li>contains("X"): every name that contains "X"</li>
<li>matches("X"): every name that matches "X", where "X" can be a regular expression</li>
<li>num_range("x", 1:5): the variables named x01, x02, x03, x04 and x05</li>
<li>one_of(x): every name that appears in x, which should be a character vector.</li>
</ul>

In [4]:
# import dataset required for this session
txtData<- read.table("D:/CFT DataScienceHub/makeOver50K.txt",sep = ",", 
                     header = FALSE)

# insert column names to the imported table
colnames(txtData) <- c("Age","workclass","fnlwgt","education",
                       "education-num","marital-status",
                       "occupation","relationship",
                       "race","sex","capital-gain",
                       "capital-loss","hours-per-week",
                       "native-country","eaning")
head(txtData, 3)

  Age workclass         fnlwgt education  education-num marital-status
1 39   State-gov         77516  Bachelors 13             Never-married
2 50   Self-emp-not-inc  83311  Bachelors 13             Married-civ-spouse
3 38   Private          215646  HS-grad    9             Divorced
  occupation         relationship   race   sex   capital-gain capital-loss
1  Adm-clerical       Not-in-family  White  Male 2174         0
2  Exec-managerial    Husband        White  Male    0         0
3  Handlers-cleaners  Not-in-family  White  Male    0         0
  hours-per-week native-country eaning
1 40              United-States  <=50K
2 13              United-States  <=50K
3 40              United-States  <=50K

In [8]:
library(dplyr)
select(txtData, c(Age, race, sex))

      Age race                sex
1     39   White               Male
2     50   White               Male
3     38   White               Male
4     53   Black               Male
5     28   Black               Female
6     37   White               Female
7     49   Black               Female
8     52   White               Male
9     31   White               Female
10    42   White               Male
11    37   Black               Male
12    30   Asian-Pac-Islander  Male
13    23   White               Female
14    32   Black               Male
15    40   Asian-Pac-Islander  Male
16    34   Amer-Indian-Eskimo  Male
17    25   White               Male
18    32   White               Male
19    38   White               Male
20    43   White               Female
21    40   White               Male
22    54   Black               Female
23    35   Black               Male
24    43   White               Male
25    59   White               Female
26    56   White               Male
27    19   White               Male
28    54   Asian-Pac-Islander  Male
29    39   White               Male
30    49   White               Male
...   ... ...                 ...
32532 30   Asian-Pac-Islander  Female
32533 34   White               Male
32534 54   Asian-Pac-Islander  Male
32535 37   White               Female
32536 22   Black               Male
32537 34   White               Female
32538 30   Black               Male
32539 38   Black               Female
32540 71   White               Male
32541 45   White               Female
32542 41   Black               Female
32543 72   White               Male
32544 45   White               Female
32545 31   Other               Female
32546 39   White               Female
32547 37   White               Female
32548 43   White               Male
32549 65   White               Male
32550 43   White               Female
32551 43   White               Male
32552 32   Amer-Indian-Eskimo  Male
32553 43   White               Male
32554 32   Asian-Pac-Islander  Male
32555 53   White               Male
32556 22   White               Male
32557 27   White               Female
32558 40   White               Male
32559 58   White               Female
32560 22   White               Male
32561 52   White               Female

In [7]:
# To omit a field, use the code
# To code indicates that we should include every column except v1, v2 and v2
select(txtData, -(v1, v2, v3))

ERROR: Error in parse(text = x, srcfile = src): <text>:3:21: unexpected ','
2: # To code indicates that we should include every column except v1, v2 and v2
3: select(txtData, -(v1,
                       ^

In [ ]:
# The select() function also allows a special syntax that allows you to specify variable names based
# on patterns
subset <- select(chicago, ends_with("2"))

<div class="alert alert-success"></i><strong>1.3 mutate()</strong>
 </div>
mutate function can be used to create a new field or column name/variable
mutate take two arguments, firstly the dataframe and the

In [ ]:
mutate(dataframe, sums = a + b)

### 1.3 filter()
The filter() function is used to extract subsets of rows from a data frame. This function is similar
to the existing subset() function in R but is quite a bit faster in my experience

In [ ]:
x <- filter(df, v1 > 30)

### 1.4 arrange()
The arrange() function takes two main arguments: the name of the dataframe, and the column(s) one wishes to re-order.
Note: Results returned are in acesending order

In [ ]:
arrange(data, column)
arrange(data, frame)

In [ ]:
arrange(data, desc(column))

dplyr provides several helpful aggregate functions
first(x) - The first element of vector x.
last(x) - The last element of vector x.
nth(x, n) - The nth element of vector x.
n() - The number of rows in the data.frame or group of observations that summarize() describes.
n_distinct(x) - The number of unique values in vector x.

In [ ]:
# Generate summarizing statistics for dataset
summarize(dataset, 
          n_obs = n(), 
          n_carrier = n_distinct(), 
          n_dest = n_distinct())

In [ ]:
# 
a3 <- filter(dataset, filedname == "dxc")

# Generate summarizing statistics for aa 
summarize(aa, 
          n_flights = n(), 
          n_canc = sum(field names == ?),
          avg_delay = mean(fieldname, na.rm = TRUE))

In [ ]:
Group_by()
# Make an ordered field? summary of dataset
dataset %>%
   group_by(filedname) %>%
   summarize(
     p_canc = 100 * mean(fieldname== ?), 
     avg_delay = mean(fieldname, na.rm = TRUE)
   ) %>%
   arrange(avg_delay, p_canc)

In [ ]:
# Coonecting Database
library(RODBC)
library(dplyr)
con <- odbcConnect("CFTdemo", uid = "seiya", pwd="")
#emp <- sqlQuery(con, "select * from Employees")
#emp
sqlQuery(con, "select * from Employees") %>%
group_by(Gender) %>%
  summarize(n_Gender = n(), avg_salary = mean(Salary)) %>%
  arrange(avg_salary)

Control structures: 
Control structures in R gives onr the flexibiliy to control the flow of execution of a series of R expressions.

Commonly used control structures in R are:
• if and else: testing a condition and acting on it
• for: execute a loop a fixed number of times
• break: break the execution of a loop
• next: skip an iteration of a loop

if-else
if-else control structure is one of the most commonly used in programming.This structure allows one to test a condition if it returns true or false and act on it accordinly

In [ ]:
if(<condition>) {
    ## do something
    } else {
    ## do something else
  }

if(<condition1>) {
   ## do something
  } else if(<condition2>) {
  ## do something different
    } else {
## do something different
}

for loops
For loops are commonly used for iterating over elements of an object and it made up of three parts
the sequence,body and the output

In [ ]:
x <- c("a", "b", "c", "d")
for(i in x) {
## Print out each element of 'x'
print(i)
}

In [ ]:
#try it
list_of_numbers <- list(2,4,7,8,9,10)

for (i in 1:length(list_of_numbers)){
    print(list_of_numbers[[i]])
}

In [ ]:
# try it
dataframe <- data.frame(Age = c(90,13,18,15), test_score = c(70,30,18, 17))
dataframe

for(i in 1 :ncol(dataframe)){
    print(mean(dataframe[[i]]))
}

In [ ]:
# Create new double vector: output
output <- vector("double", ncol(dataframe))

# Alter the loop
for (i in 1 :ncol(dataframe)) {
  # Change code to store result in output
  output[[i]] <- mean(dataframe[[i]])
}

# Print output
output

next
next is used to skip an iteration of a loop given a condition

In [ ]:
for(i in LETTERS) {
if(i < "V") {
## Skip the all letter before "V" iterations
next
}
print(i)
}

break is used to exit a loop immediately, regardless of what iteration the loop may be on

In [ ]:
for(i in LETTERS) {
    print(i)
if(i == "D") {
## Stop loop after 20 iterations
break
}
}

In [ ]:
f <- function(letters, letter){
for(i in letters) {
    print(i)
if(i == letter) {
## Stop loop after 20 iterations
break
}
}}

Functions

In [ ]:
# The basic structure of a function is given as
func.one <- function(arg1, arg2){
    body
}
functions is made up of three parts,
Arguments
Body
Enviroment

In [ ]:
addxy <- function(x, y){
    
    # return is called
    # to force the function
    # to stop execution and
    # return a value
    return(x + y)
}
addxy(2,5)

In [ ]:
add <- function(x, y = 3){
    x + y
}

In [ ]:
#Anonymus function that does not have a name assigned to it
(function(x) {x + 5})(2)

In [ ]:
#Every function has three parts
ab <- function(x) {
    if (x < 0){
        -x
    }else {
        x
    }
}

In [ ]:
Scoping
Scoping in R basically describes how and where (Note: NOT WHEN) R looks for values by name. There are basically two types of scope in R,
local scope 
and global scope

In [ ]:
# try it
y <- 10
f <- function(x) {
  x + y
}
f(10)

In [ ]:
# try it
y <- 10
f <- function(x) {
  y <- 5
  x + y
}
f(10)

In [ ]:
f <- function(x) {
  y <- 5
  x + y
}
f(5)