<div class="alert alert-warning"></i><strong>CFT Data Science With R Tutorials</strong><br>By: Seiya David 
 </div>

 <div class="alert alert-success"></i><strong>1.0 What is R</strong>
 </div>
R is a language for statistical computing and graphics as well as an environment within which statistical techniques are implemented.R is equiped with wide verity of advance statistical, Mathematical and graphical techniques and is the number choice for research in statistical methodology and it's an Open Source application (i.e free to download).
R compiles and runs on a wide variety of Operating Systems such as Linux, Windows and MacOS.

 <div class="alert alert-success"></i><strong>1.1 Installation of R</strong>
 </div>
To get R installed on your machine click on the appropirate link below and follow the instructions
* [For Windows Computer](https://cran.r-project.org/bin/windows/base/)
* [For Mac OS X Computer](https://cran.r-project.org/bin/macosx/)

When the Base R installation is complete, click on the following link below to install RStudio<br>
* [Download RStudio](https://www.rstudio.com/products/rstudio/download/)
*Note: RStudio is an IDE(Integrated Development Enviroment) that ehances programming in Rwith rich intellicence and more*

<div class="alert alert-success"></i><strong>1.2 Getting started with packages</strong>
 </div>
An R package is a collection of functions(code), data, and documentations. Packages can be downloaded from a 
repository called CRAN Comprehensive R Archive Network
* Note: *One's computer need to be connnected to the internet to download R packages*

<div class="alert alert-success"></i><strong>1.3 Installing a package or packages</strong>
 </div>
For this demonstration, we will install a packages called ggplot2 (required for ploting static charts). Don't worry if you don't know what this package does at the moment, we will explore more of this package and more as we make progress. To install a package,
Open your RStudio IDE and type the below code on the console, hit the Enter button/key and wait for the package to install:<br>
* install.packages("ggplot2", dependencies = TRUE)

if you which to install multiple R packages at once, type the syntax into the console and hit the Enter key<br>
* install.packages(c("ggplot2","dplr"))

<div class="alert alert-success"></i><strong>1.4 Loading a package</strong>
 </div>
To load an R package, use any of the three syntaxes below. For this demonstration, I will load ggplot2 package<br>
* library(ggplot2) <br>
* library("ggplot2") <br>
* require(ggplot2) <br>
* Click the checkbox next to the package on the file pane

<div class="alert alert-success"></i><strong>1.5 Getting help for a package or function</strong>
 </div>
If you are a bit confused or need clarity on a package, use any of the following syntaxes<br>
* help(ggplot2) <br>
* ?ggplot2 <br>
* or simply highlight the function or package and press the F1 key

In [ ]:
# Run the code just below to see a list of installed packages. This
# may take a while
library()

In [2]:
# Run the code just below to see a list of packages that 
# are currently loaded
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

**Note:** *By default when R or RStudio is opened, some packages get loaded behind the scene*

<div class="alert alert-success"></i><strong>1.6 Assignment Operator</strong><br>The <- symbol is called the assignment operator and used to assign elements to an object

 </div>

<div class="alert alert-success"></i><strong>1.7 Comments</strong><br>
The hash-tag or pound symbol/character (#) indicates a start of a comment. Anything to the right of the # (including the # itself) is not run.
This is the only comment character in R. Unlike some other languages, R does not support multi-line comments or comment blocks.That is to say every line of comments must start with the # symbol.
 </div>

<div class="alert alert-success"></i><strong>2.1 Basic Arithmetic Operation</strong>
 </div>

In [3]:
# On your Console type the following
# Note: Any text after the HASH-TAG (#) is a comment in R and 
# will not be executed.

# This is a basic addition problem
2 + 2

[1] 4

In [4]:
# Divison
9/3

[1] 3

In [5]:
# %% notation is called modelus operator. The output would be the 
# remainder when two divides nine
9 %% 2

[1] 1

In [6]:
# ^ is the exponent operator, the expression is read 
# 10 raised to power 3 or 10 X 10 X 10 = 1000
10^3

[1] 1000

In [7]:
# Multiplication
3*3

[1] 9

<div class="alert alert-danger"></i></i><strong>Try it out</strong><br>What will the result be for the expression below?<br>3 + 4 * 5 + 4<br>
</div>

In [8]:
# log of 10
log(10)

[1] 2.302585

In [9]:
# To round up the output above to 4 decimal places, 
# we used the function 'round' with an extra augument
# for the decimal place

# The 4 signifies the number of decimal places I want, 
# experiment with different number
round(log(10),3)

[1] 2.303

In [10]:
# log base 2 of 70
round(log2(70),3)

[1] 6.129

<div class="alert alert-success"></i><strong>3.0 R Objects/Data Structures</strong><br>
R has five core classes of objects:<br>
<ul>
<li>Vector</li>
<li>Matrix</li>
<li>Data Frame</li>
<li>list</li>
</div>

<div class="alert alert-success"></i><strong>3.1 Vectors:</strong>
A vector is an ordered one dimensional array which could hold character, logical, integer **OR** numeric data, this implies that a vector can only contain objects of the same class.However, there is an there is an exception, which is a list

I will now show what each of the vector types look like
</div>

In [11]:
# Character Vector
# When building a vector manually,the c() function 
# (which stands for COMBINE) is used when there are more 
# than one elements.

# The 'charVec' word is called an Object and would be a container to 
# store the combined data.
# The '<-' is called an assignment operator, though the equal sign 
# could be used but it's considered a bad coding practice in R.
charVec<- c("Mon","Tue","Wed","Thr","Fri","Sat","Sun")
print(charVec)

# Print the class type
print(class(charVec))

# To get the length of a vector use the length() function
print(length(charVec))

[1] "Mon" "Tue" "Wed" "Thr" "Fri" "Sat" "Sun"
[1] "character"
[1] 7

In [12]:
# Logical Vector
num <- 10 > 30 # This syntax can be read as IS 10 GREATER THAN 30
print(num)

# Print the class type
print(class(num))

[1] FALSE
[1] "logical"

In [13]:
# Logical Vector
# This syntax can be read as IS Monday equivalent to/same as Monday
"Monday" == "Monday"

[1] TRUE

<div class="alert alert-danger"></i></i><strong>Try it out</strong><br>What would this code return ?<br>"Monday" == "monday"<br>
What does this tell you about R
</div>

<div class="alert alert-info"><i class="icon-lightbulb"></i>**Discussion** <br>What is/are the difference(s) between the an Interger vector and a Character vector?
 </div>

In [14]:
# Integer or Numeric Vector
# Interger/Numeric vector elements are not defined within quotation marks
intergerVec <- c(2,3,4,5,6,9)
print(intergerVec)

# Returns the number of elements in the object intergerVec
print(length(intergerVec))

[1] 2 3 4 5 6 9
[1] 6

<div class="alert alert-success"></i><strong>3.2 Matrices</strong><br>
 A Matrix is a two dimensional array were each element has the same type of data entries, it is also considered a vector with integer attributes
 </div>

In [15]:
number_range <- c(1:9)
print(number_range)

[1] 1 2 3 4 5 6 7 8 9

In [16]:
# The matrix key word is a function that will hold 9 elements starting 
# from 1.
# The  nrow = 3, implies that the 9 elements be placed in 3 rows
# While the byrow =T, implies the data be filled rows wise
# What would the matrix look like if byrow=F, Try this.
first_matrix <- matrix(c(2,4,5,6), nrow=2, byrow=F)
print(first_matrix)

     [,1] [,2]
[1,]    2    5
[2,]    4    6

In [17]:
matrixData <- matrix(c(1:9), nrow=3, byrow=T)
print(matrixData)

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9

In [19]:
# Matrix multiplication
print(matrixData %*% matrixData)

     [,1] [,2] [,3]
[1,]   30   36   42
[2,]   66   81   96
[3,]  102  126  150

<div class="alert alert-success"></i><strong>3.3 Giving our matrix column and row names</strong>
 </div>

In [20]:
# To assign column names to the created matrix above, the 
# 'colnames' function is used.

# This code imples that the first column be names Mon, 
# second be named Tue, etc.
colnames(matrixData)<- c("Mon","Tue","Wed")

# Display the contents of the object
print(matrixData)

     Mon Tue Wed
[1,]   1   2   3
[2,]   4   5   6
[3,]   7   8   9

In [21]:
# If we wish to assign names to the rows, use the rownames function 
# and pass in appropirate names. Ensure that the number
# of names matches the number of rows.

rownames(matrixData)<-c("day2","day3","day5")

# Display the contents of the object
print(matrixData)

     Mon Tue Wed
day2   1   2   3
day3   4   5   6
day5   7   8   9

<div class="alert alert-success"></i><strong>3.4 List</strong><br>
 Lists are a special type of vector that can holds elements of different classes. To create a list explicitly, use the list() function which take several arguments.
 </div>

In [22]:
# To create a list use the key word list()
listx <- list(c('CFT', 'Data', 'Science'), FALSE, TRUE, FALSE, c(2,8,5))

# Display the list
print(listx)

[[1]]
[1] "CFT"     "Data"    "Science"

[[2]]
[1] FALSE

[[3]]
[1] TRUE

[[4]]
[1] FALSE

[[5]]
[1] 2 8 5

In [23]:
# To extract the first element of the list, use the code
print(listx[1])

[[1]]
[1] "CFT"     "Data"    "Science"

<div class="alert alert-danger"></i></i><strong>Try it out</strong><br>Extract the 5 in the list created above.
</div>

<div class="alert alert-success"></i><strong>3.5 Data Frame</strong><br>
 A Data Frame is more general than a matrix in that the fields/columns can hold different types of data entries. Look at a Data Frame as a Microsoft Excel and would be mostly used in R.
 </div>

In [24]:
# Creating a dataframe
datafr <- data.frame(Country = c("UK","FRANCE","US","NIGERIA"),
                         GDP = c(560,409,706,360),
                         pop = c(20,40,200,190))
print(datafr)

  Country GDP pop
1      UK 560  20
2  FRANCE 409  40
3      US 706 200
4 NIGERIA 360 190

<div class="alert alert-success"></i><strong>4.0 Importing external data</strong><br>
The R application is very robost when it comes to accessing and working with data in several file formats.
In the sections that follow, we will demonstrate how to get data from documents in the following formats:
<ul>
<li>Text file (.txt)</li>
<li>Excel file (.csv)</li>
<li>Excel file (.xlsx or xls)</li>
<li>SAS file(.sas7bdat)</li><br>

Let's now go into practicality
 </div>

<div class="alert alert-success"></i><strong>4.1 Text file(.txt)</strong>
 </div>

In [25]:
# To read in data from a .txt file format, use the 'read.table' 
# function then pass the file-path to the text file

txtData<- read.table("D:/CFT DataScienceHub/makeOver50K.txt",sep = ",", 
                     header = FALSE)
head(txtData)

# The argument sep="," tells R that each data element in a row in the 
# text file is separated by a comma. Other common
# data formats have values separated by tabs and pipes ("|") and 
# tabs ("\t") respectively.

# The argument header=FALSE tells R that the first row of the file 
# should NOT be interpreted as the names of the columns.

  V1 V2                V3     V4         V5 V6
1 39  State-gov         77516  Bachelors 13  Never-married
2 50  Self-emp-not-inc  83311  Bachelors 13  Married-civ-spouse
3 38  Private          215646  HS-grad    9  Divorced
4 53  Private          234721  11th       7  Married-civ-spouse
5 28  Private          338409  Bachelors 13  Married-civ-spouse
6 37  Private          284582  Masters   14  Married-civ-spouse
  V7                 V8             V9     V10     V11  V12 V13 V14
1  Adm-clerical       Not-in-family  White  Male   2174 0   40   United-States
2  Exec-managerial    Husband        White  Male      0 0   13   United-States
3  Handlers-cleaners  Not-in-family  White  Male      0 0   40   United-States
4  Handlers-cleaners  Husband        Black  Male      0 0   40   United-States
5  Prof-specialty     Wife           Black  Female    0 0   40   Cuba
6  Exec-managerial    Wife           White  Female    0 0   40   United-States
  V15
1  <=50K
2  <=50K
3  <=50K
4  <=50K
5  <=50K
6  <=50K

In [26]:
# Now that the data has been imported and assigned to the 'txtData' 
# object.
# To view all of the data, we would simpley call and run the object, 
# in this case 'txtData'.

# To view few rows of the data, use the 'head()' function and pass 
# the data object, this will by default show the first six rows.
head(txtData, 10)

   V1 V2                V3     V4         V5 V6
1  39  State-gov         77516  Bachelors 13  Never-married
2  50  Self-emp-not-inc  83311  Bachelors 13  Married-civ-spouse
3  38  Private          215646  HS-grad    9  Divorced
4  53  Private          234721  11th       7  Married-civ-spouse
5  28  Private          338409  Bachelors 13  Married-civ-spouse
6  37  Private          284582  Masters   14  Married-civ-spouse
7  49  Private          160187  9th        5  Married-spouse-absent
8  52  Self-emp-not-inc 209642  HS-grad    9  Married-civ-spouse
9  31  Private           45781  Masters   14  Never-married
10 42  Private          159449  Bachelors 13  Married-civ-spouse
   V7                 V8             V9     V10     V11   V12 V13
1   Adm-clerical       Not-in-family  White  Male    2174 0   40
2   Exec-managerial    Husband        White  Male       0 0   13
3   Handlers-cleaners  Not-in-family  White  Male       0 0   40
4   Handlers-cleaners  Husband        Black  Male       0 0   40
5   Prof-specialty     Wife           Black  Female     0 0   40
6   Exec-managerial    Wife           White  Female     0 0   40
7   Other-service      Not-in-family  Black  Female     0 0   16
8   Exec-managerial    Husband        White  Male       0 0   45
9   Prof-specialty     Not-in-family  White  Female 14084 0   50
10  Exec-managerial    Husband        White  Male    5178 0   40
   V14            V15
1   United-States  <=50K
2   United-States  <=50K
3   United-States  <=50K
4   United-States  <=50K
5   Cuba           <=50K
6   United-States  <=50K
7   Jamaica        <=50K
8   United-States  >50K
9   United-States  >50K
10  United-States  >50K

In [27]:
# If you wish to see a defined number of rows other than six, use the syntax.
head(txtData, 10)
# As can be seen on this instance,we have 10 rows displayed

   V1 V2                V3     V4         V5 V6
1  39  State-gov         77516  Bachelors 13  Never-married
2  50  Self-emp-not-inc  83311  Bachelors 13  Married-civ-spouse
3  38  Private          215646  HS-grad    9  Divorced
4  53  Private          234721  11th       7  Married-civ-spouse
5  28  Private          338409  Bachelors 13  Married-civ-spouse
6  37  Private          284582  Masters   14  Married-civ-spouse
7  49  Private          160187  9th        5  Married-spouse-absent
8  52  Self-emp-not-inc 209642  HS-grad    9  Married-civ-spouse
9  31  Private           45781  Masters   14  Never-married
10 42  Private          159449  Bachelors 13  Married-civ-spouse
   V7                 V8             V9     V10     V11   V12 V13
1   Adm-clerical       Not-in-family  White  Male    2174 0   40
2   Exec-managerial    Husband        White  Male       0 0   13
3   Handlers-cleaners  Not-in-family  White  Male       0 0   40
4   Handlers-cleaners  Husband        Black  Male       0 0   40
5   Prof-specialty     Wife           Black  Female     0 0   40
6   Exec-managerial    Wife           White  Female     0 0   40
7   Other-service      Not-in-family  Black  Female     0 0   16
8   Exec-managerial    Husband        White  Male       0 0   45
9   Prof-specialty     Not-in-family  White  Female 14084 0   50
10  Exec-managerial    Husband        White  Male    5178 0   40
   V14            V15
1   United-States  <=50K
2   United-States  <=50K
3   United-States  <=50K
4   United-States  <=50K
5   Cuba           <=50K
6   United-States  <=50K
7   Jamaica        <=50K
8   United-States  >50K
9   United-States  >50K
10  United-States  >50K

In [28]:
# As can been from the output above, the table does not have any 
# table header or column names.

# For this example, i know all the header names. 
# To insert these names use the code below
colnames(txtData) <- c("Age","workclass","fnlwgt","education",
                       "education-num","marital-status",
                       "occupation","relationship",
                       "race","sex","capital-gain",
                       "capital-loss","hours-per-week",
                       "native-country","eaning")

In [29]:
# Now let use view the first 6 rows to see if the colunmn names were applied
head(txtData)

  Age workclass         fnlwgt education  education-num marital-status
1 39   State-gov         77516  Bachelors 13             Never-married
2 50   Self-emp-not-inc  83311  Bachelors 13             Married-civ-spouse
3 38   Private          215646  HS-grad    9             Divorced
4 53   Private          234721  11th       7             Married-civ-spouse
5 28   Private          338409  Bachelors 13             Married-civ-spouse
6 37   Private          284582  Masters   14             Married-civ-spouse
  occupation         relationship   race   sex     capital-gain capital-loss
1  Adm-clerical       Not-in-family  White  Male   2174         0
2  Exec-managerial    Husband        White  Male      0         0
3  Handlers-cleaners  Not-in-family  White  Male      0         0
4  Handlers-cleaners  Husband        Black  Male      0         0
5  Prof-specialty     Wife           Black  Female    0         0
6  Exec-managerial    Wife           White  Female    0         0
  hours-per-week native-country eaning
1 40              United-States  <=50K
2 13              United-States  <=50K
3 40              United-States  <=50K
4 40              United-States  <=50K
5 40              Cuba           <=50K
6 40              United-States  <=50K

In [30]:
# There might be times when we might not want to define the path to our 
# files explicitly
# we use the code below which gives one the option to choose the 
# required for import
txtData<- read.table(file.choose(),sep = ",", header = TRUE)
head(txtData)

ERROR: Error in file.choose(): file choice cancelled

<div class="alert alert-success"></i><strong> 4.2 Excel file(.csv)</strong>
 </div>

In [ ]:
# To read in data from a .txt file format, use the 'read.csv' 
# function then pass the file-path to the text file
# On this instance, we set header = TRUE as the data file does 
# have defined column titles
excelCSVData<- read.csv("D:/CFT DataScienceHub/whatIsTrending.csv",
                        sep = ",", header = TRUE)

# To view the first six records, run the code below
head(excelCSVData)

In [ ]:
# Again, there might be times when we might not want to define the 
# path to our files explicitly,we use the code below which gives 
# one the option to choose the required for import
excelCSVData<- read.csv(file.choose(),sep = ",", header = TRUE)

<div class="alert alert-success"></i><strong>4.3 Excel file(.xlsx and .xls)</strong>
 </div>

In [32]:
# To get .xlsx or xls file format into R, we need to load a package 
# called 'xlsx'
# But wait a sec, how come we never loaded packages when we 
# imported .csv and .txt files
# when R or Rstudio is loaded for use, it by default loads packages 
# for importing .csv and txt file format by default
# At this point, am very sure you dont have this package installed. 
# So let's try intallation of packages again
install.packages("xlsx")

In [35]:
# Load the package into R by calling the library() function and pass the package as argument
library(xlsx)

In [34]:
# To find out more about the package run the code below
help(xlsx)

In [41]:
# Import the .xlsx file
excelData<- read.xlsx("D:/CFT DataScienceHub/sasData.xlsx",sheetIndex=1)
# I guess by now you are familiar with how import works generally, 
# one thing to point out here is the 'sheeIndex=1'argument.
# This is saying in the imported .xlsx file return the data in sheet1
print(head(excelData, n = 5))

  YEAR     Y     W      R     L     K
1 1948 1.214 0.243 0.1454 1.415 0.612
2 1949 1.354 0.260 0.2181 1.384 0.559
3 1950 1.569 0.278 0.3157 1.388 0.573
4 1951 1.948 0.297 0.3940 1.550 0.564
5 1952 2.265 0.310 0.3559 1.802 0.574

In [38]:
# Again, there might be times when we might not want to define 
# the path to our files explicitly
# we use the code below which gives one the option to choose the 
# required for import
excelData<- read.xlsx(file.choose(),sheetIndex=1)

<div class="alert alert-success"></i><strong>4.4 SAS file(.sas7bdat)</strong>
 </div>

In [ ]:
# The importation of .sas7bdat formatted file is similar to 
# importation of .xlsx file format in the sence that the 'sas7bdat
# package must be installed (if not installed already) and 
# loaded into R by using the library function.
# let us get familiar with installing a package again
install.packages("sas7bdat)

In [39]:
# Now load the package with the function library as follows and 
# import the file 
library(sas7bdat)
sasData <- read.sas7bdat("D:/CFT DataScienceHub/airline.sas7bdat")

# to have a sneak peek, run the code below. This will show the 
# first six rows. To see all records, run just the object name.
head(sasData)

  YEAR Y     W     R      L     K
1 1948 1.214 0.243 0.1454 1.415 0.612
2 1949 1.354 0.260 0.2181 1.384 0.559
3 1950 1.569 0.278 0.3157 1.388 0.573
4 1951 1.948 0.297 0.3940 1.550 0.564
5 1952 2.265 0.310 0.3559 1.802 0.574
6 1953 2.731 0.322 0.3593 1.926 0.711

<div class="alert alert-success"></i><strong>5.0 Exporting Data (or writing data to file)</strong>
 </div>

<div class="alert alert-success"></i><strong>5.1 Excel file(.csv)</strong>
 </div>

In [ ]:
# To write data from R to Microsoft Excel .csv file format, 
# use the syntax below.
# The 'write.csv()' takes two arguments, the data to write AND the 
# file path to the where the file will be saved
# For this instance, the data we aim to write to file is 'sasData' 
# and save it in a location 'D:/CFT DataScienceHub/' 
# AND i want the file to be called 'airlineData.csv'
# You could at this point try different names as you would prefer. 
write.csv(sasData, file="D:/CFT DataScienceHub/airlineData.csv")

# Check the file path to see if the file was written

<div class="alert alert-success"></i><strong>5.2 Excel file(.xlsx and .xls)</strong>
 </div>

In [ ]:
# Apply the same principles for writing .xlsx and xls file formats, 
# except that we use the 'write.xlsx()' function
write.xlsx(sasData, file="D:/CFT DataScienceHub/airlineData.xlsx")

<div class="alert alert-warning"><strong>Next class</strong><br>We will look at how to filter datasets and writing functions
 </div>